@page
@model trial.Pages.UserModel
@{
}
<h1> User Portal</h1>
<br />
<nav>
    <ul style="list-style-type: none; padding: 0;">

        <li>
            <a style="display: block; width: 200px; text-decoration: none; color: white; background-color: #0094ff; padding: 10px 15px; border-radius: 4px; margin-bottom: 10px;" asp-page="/Health">My Health</a>
        </li>

        <li>
            <a style="display: block; width: 200px; text-decoration: none; color: white; background-color: #0094ff; padding: 10px 15px; border-radius: 4px; margin-bottom: 10px;" asp-page="/Workout">My Workout Plan</a>
        </li>

        <li>
            <a style="display: block; width: 200px; text-decoration: none; color: white; background-color: #0094ff; padding: 10px 15px; border-radius: 4px; margin-bottom: 10px;" asp-page="/Goal">My Goals</a>
        </li>

        <li>
            <a style="display: block; width: 200px; text-decoration: none; color: white; background-color: #0094ff; padding: 10px 15px; border-radius: 4px; margin-bottom: 10px;" asp-page="/Nutrition">My Nutrition Plan and Meals</a>
        </li>

        <li>
            <a style="display: block; width: 200px; text-decoration: none; color: white; background-color: #0094ff; padding: 10px 15px; border-radius: 4px;" asp-page="/SupportRequest">My Support Request</a>
        </li>

    </ul>

</nav>
